<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range (where .Data.Pages "Section" "portfolio") }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{ .Params.image }}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-desription">
                              <p>{{ .Summary }}</p>
                          </div>
                      </div>
                  </div>
              </div>

		  {{ end }}

        </div>
    </div>



<div style="width:100%; max-width:800px;">
<h1>News</h1>
     {{ range first 5 .Site.Taxonomies.tags.news }}
    <a href="{{ .Page.URL }}"><h3>{{ .Page.Title }}</h3></a>

<p>
<div>
  <img src="{{ .Params.image }}"  width="30%" align="right" >
  </div>
  {{ .Page.Description}}
<a href="{{ .Page.RelPermalink }}">Read More…</a> 
</p>

{{ end }}


</div>

<hr>

{{ partial "footer.html" . }}

</div>
